<div class="game-background">
    <img ng-show='trial' class="bg-image" src="/assets/jeans_bg.jpg" alt='bg'/>
    <div ng-show='trial' class="popup gold">
        <h1 class="text-center">TRYOUT</h1>
        <p class="text-center">Before you start dancing</p>
        <p class="text-center">try out how it's done</p>

        <div class="button-modal button-go">
            <a ng-click="start_button.click($event)" class="button">LET'S GO</a>
        </div>
    </div>

    <img ng-show='play' class="bg-image" src="/assets/jeans_bg.jpg" alt='bg'/>
    <div ng-show='play' class="popup gold">
        <h1 class="text-center">TAP DANCE</h1>
        <p class="text-center">Now it's time to show your</p>
        <p class="text-center">moves and win some points</p>

        <div class="button-modal button-go">
            <a  ng-click="start_button.click($event)"
                class="button">LET'S GO</a>
        </div>
    </div>

    <div ng-show='game' class="game">
        <canvas pixi="stage" class="tapdance" pixi-render="pixiRender"
            pixi-transparent="true" pixi-renderer="'webgl'"></canvas>
    </div>
</div>
